 body {
	background-color : #DDDDDD;
	height: 100%;
	margin: 0;
	padding: 5px;
  }

/* navigation bar at top */
.nav-bar {
  position: fixed;
  top: 0;
  left: 20px;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  padding: 0 6px;
  background-color: lightgreen;
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  display: block;
  line-height: 2;
}

.nav-link:hover {
	text-decoration: underline;
}

/* The image banner across the page */
.js-banner {
  background: url('https://www.visitsarasota.com/sites/default/master/files/FarmersMarketGoodShot__FallInSarasota__2017Opt.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: saturate(2) blur(2px) opacity(.4);
  position : relative;
  margin : 5px auto;
}

/* the search elements */
.js-search {
	text-align: center;
}

.search-title {
	display: inline-block;
	text-align: center;
}

.search-form {
	display: inline-block;
	font : bold 18px 'Supermercado+One', sans-serif;
}

fieldset {
	border : none;
	max-width : fit-content;
}

.zip-label {
	padding-right : 10px;
}

span {
	padding-left : 10px;
}

.search-button {
  display : inline-block;
  font-size: 16px;
  width: 37px;
  height: auto;
  padding: 2px 6px 2px 6px; 
  background-color: white;
  box-shadow: 2px 2px 0 0;
  border-radius: 3px;
  vertical-align : bottom;
}

.disabled-button {
	filter: invert(60%);
}

#zipcode {
  display: inline-block;
 /* text-align: center;
  font-weight: 500;
  line-height: 30px; */
  height: 30px; 
  border-radius: 3px;
  margin-right: 10px;
}

.search-line {
	text-align: center;
}

.js-search-filter {
	padding-top: 0 10px 10px 10px;
}

.js-error {
	border : 1px solid red;
}

.js-err-msg {
	display : inline-block;
	line-height: 0;
	color : red;
	padding-left: 5px;
}

.js-list-title {
	display: inline-block;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
}

.js-fm-text {
  text-align: center;
}

h3.js-schedule {
    margin: 0 auto;
    font-size: 14px;
}

.js-cards-name {
	font : bold 12px 'Supermercado+One', cursive, sans-serif;
}

.js-cards-dist .js-note {
	font : 8px 'Supermercado+One', cursive, sans-serif;
}

.box {
	margin-top: 5px;
} 

.js-cards:hover {
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	cursor: pointer;
}

#CheckBoxes {
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}

.CardBoxes {
	/* box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); 
	min-height: 100px; */
}

.js-address, .js-hours {
	/* box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19); 
	min-height: 300px; */
}

.js-cards, .js-cards-product {
	margin: 5px;
	padding: 10px;
	background-color: lightgreen;
}

.js-footer {
	display: block;
	margin: 0 auto;
	padding: 15px;
}

